---
- name: Add Jenkins VM public key to all target VMs
  hosts: all
  become: false
  vars:
    jenkins_pubkey: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIAD3CR/IVVNdKHcUTiLwfqNv96At/EIKLY5IvbQBhWO vagrant@jenkins"
  tasks:
    - name: Ensure ~/.ssh exists
      file:
        path: "/home/vagrant/.ssh"
        state: directory
        mode: "0700"

    - name: Add Jenkins key to authorized_keys
      lineinfile:
        path: "/home/vagrant/.ssh/authorized_keys"
        create: true
        mode: "0600"
        line: "{{ jenkins_pubkey }}"
        state: present
