---
- name: Install prerequisites on Jenkins VM
  hosts: jenkins
  become: true

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install required packages
      apt:
        name:
          - git
          - ansible
          - python3
          - python3-pip
        state: present
