---
# 0) Common fixes / prerequisites (all hosts)
- name: Common prep on all VMs
  hosts: all
  become: true
  tasks:
    - name: Ensure remote tmp dir exists
      file:
        path: "/tmp/.ansible-{{ lookup('env','USER') | default('ansible') }}"
        state: directory
        mode: "1777"

# 1) Database
- import_playbook: postgres.yml

# 2) Supporting services on backend host
- import_playbook: minio.yml
- import_playbook: mailhog.yml

# 3) Backend prerequisites + code
- import_playbook: java21.yml
- import_playbook: maven.yml
- import_playbook: clone_ds2025.yml
  vars:
    target_hosts: backend


# 4) Backend runtime
- import_playbook: backend_env.yml
- import_playbook: build_backend.yml

- import_playbook: healthcheck.yml

- import_playbook: backend_service.yml

# 5) Nginx (Install -> Template site -> Enable site -> Restart)
- import_playbook: nginx_install.yml
- import_playbook: nginx_site.yml
- import_playbook: nginx_enable_site.yml
- import_playbook: nginx_restart.yml

# 6) Healthchecks (optional)
- import_playbook: healthcheck.yml

- import_playbook: nvm_install.yml
- import_playbook: nvm_verify.yml
- import_playbook: clone_ds2025.yml
  vars:
    target_hosts: front
