---
- name: Enable Nginx site and disable default
  hosts: "{{ target_hosts }}"
  become: true

  vars:
    nginx_site: ds2025

  tasks:
    - name: Enable site (symlink)
      file:
        src: "/etc/nginx/sites-available/{{ nginx_site }}"
        dest: "/etc/nginx/sites-enabled/{{ nginx_site }}"
        state: link
      notify: restart nginx

    - name: Disable default site
      file:
        path: /etc/nginx/sites-enabled/default
        state: absent
      notify: restart nginx

    - name: Validate nginx configuration
      command: nginx -t
      changed_when: false

  handlers:
    - name: restart nginx
      service:
        name: nginx
        state: restarted
