- import_playbook: nvm_install.yml
- import_playbook: nvm_verify.yml

- import_playbook: clone_ds2025.yml
  vars:
    target_hosts: front

- import_playbook: frontend_env.yml
- import_playbook: frontend_build.yml
- import_playbook: frontend_service.yml

- import_playbook: nginx_install.yml
  vars:
    target_hosts: front

- import_playbook: nginx_site.yml
  vars:
    target_hosts: front
    nginx_site: ds2025-front
    upstream_host: 127.0.0.1
    upstream_port: 8081
    enable_api_proxy: true
    api_prefix: "/api/"
    api_upstream_host: 10.10.10.11
    api_upstream_port: 80

- import_playbook: nginx_enable_site.yml
  vars:
    target_hosts: front
    nginx_site: ds2025-front

- import_playbook: nginx_restart.yml
  vars:
    target_hosts: front

- import_playbook: healthcheck.yml