[Unit]
Description=DS-2025 Frontend (static dist server)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ run_user }}
WorkingDirectory={{ frontend_dir }}

Environment=NODE_ENV=production
ExecStart=/bin/bash -lc 'export NVM_DIR="$HOME/.nvm"; [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"; nvm use default >/dev/null 2>&1 || true; cd "{{ frontend_dir }}"; npx --yes serve -s dist -l {{ front_port }}'

Restart=always
RestartSec=3
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
