[Unit]
Description=DS-2025 Frontend (static dist server)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ run_user }}
WorkingDirectory={{ frontend_dir }}

ExecStart=/bin/bash -lc 'export NVM_DIR="$HOME/.nvm"; . "$NVM_DIR/nvm.sh"; nvm use default; cd "{{ frontend_dir }}"; npx --yes serve -s dist -l {{ front_port }}'
Restart=always
RestartSec=3
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
