---
- name: Ensure DS2025 hostnames resolve
  hosts: vms
  become: true
  tasks:
    - name: Add DS2025 entries to /etc/hosts
      blockinfile:
        path: /etc/hosts
        marker: "# {mark} DS2025"
        block: |
          {{ hostvars['backend'].private_ip }} backend
          {{ hostvars['db'].private_ip }} db
          {{ hostvars['front'].private_ip }} front
